// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container{

display:flex;
justify-content: center;
align-items: center;

}
.card:hover {
    background-color: lightcyan;
    box-shadow: -1px 9px 40px -12px #888888;
  
}

