<h1 class="mt-4 mb-4 text-center">Overview</h1>


<div>
<% @briefings.each do |briefing| %>

  <div class="card-columns">
  <div class="card">
    <div class="card-body">

      <h5 class="card-title"><td><%= briefing.question %></td></h5>
      <h5 class="card-title"><td><%= briefing.answer %></td></h5>

    </div>
  </div>

</div>


<% end %>
</div>