<h1 class="mt-4 mb-4 text-center">Overview About Coronavirus</h1>


<div>
<div class="row">
<% @briefings.each do |briefing| %>
  
  <div class="col-lg-12">

    <div class="card-body">
      <h4 class="card-title font-italic"><strong><%= briefing.question %></strong></h4>
      <h6 class="card-title"><%= briefing.answer %></h6>

    </div>
  </div>




<% end %>
</div>
</div>